    <link rel="manifest" href="../manifest.json">

    <script src="../bower_components/webcomponentsjs/webcomponents-loader.js"></script>

    <link rel="import" href="./login-usuario.html">
    <link rel="import" href="../bower_components/neon-animation/web-animations.html">
    <link rel="import" href="../bower_components/neon-animation/animations/scale-up-animation.html">
    <link rel="import" href="../bower_components/neon-animation/animations/fade-out-animation.html">
    <link rel="import" href="../bower_components/polymer/polymer-element.html">
    <link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
    <link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
    <link rel="import" href="../bower_components/app-layout/helpers/helpers.html">
    <link rel="import" href="../bower_components/app-route/app-location.html">
    <link rel="import" href="../bower_components/app-route/app-route.html">
    <link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
    <link rel="import" href="../bower_components/iron-media-query/iron-media-query.html">
    <link rel="import" href="../bower_components/iron-pages/iron-pages.html">
    <link rel="import" href="../bower_components/iron-selector/iron-selector.html">
    <link rel="import" href="../bower_components/paper-button/paper-button.html">
    <link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
    <link rel="import" href="../bower_components/iron-icons/iron-icons.html">
    <link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">

    <dom-module id="fintechu-app">
      <template>
      <style>
        :host {
          display: block;
        }

        .container{
          @apply(--layout-horizontal);
          @apply(--layout-center-justified);
        }

        .toolbar {
          height: 10px;
          padding: 8px;
          background: #dddddd;
          color: var(--text-primary-color);
          @apply --paper-font-display1;
        }

        div.center {
          text-align: center;
          @apply --paper-font-subhead;
          padding: 8px;
        }

        footer {
          bottom: 0;
          left: 0;
          right: 0;
          text-align: center;
          margin-top: 20px;
          line-height: 40px;
        }

      </style>

        <app-location route="{{route}}"></app-location>
        <app-route
            route="{{route}}"
            pattern="/:page"
            data="{{routeData}}"
            tail="{{subroute}}">
        </app-route>


        <app-header role="navigation" id="header1" condenses reveals>
          <app-toolbar>
            <div class="container" main-title>FINTECH-U</div>
            <paper-icon-button disabled icon="close" title="Salir" id="botonSalir" on-click="cerrarSesion" alt:"Salir"></paper-icon-button>
            <paper-icon-button disabled icon="account-circle" title="Perfil" id="botonModificarUsuario" on-click="modificarUsuario" alt:"Perfil"></paper-icon-button>
          </app-toolbar>
        </app-header>
        <app-header role="navigation" id="header2" condenses reveals>
            <div class="center" id="ubicacion">[[titlePage]]       <iron-icon icon="arrow-forward" label:"Salir"></iron-icon><iron-icon icon="arrow-back" label:"Salir"></iron-icon></div>
            <br>
        </app-header>

        <div class="spinner" role="progressbar" aria-valuetext="Cargando…"></div>
        <iron-pages role="main" selected="[[page]]" attr-for-selected="name">
          <login-usuario name="login-usuario" on-myevent="processLogin"></login-usuario>
          <nuevo-usuario name="nuevo-usuario" on-myevent="processBack"></nuevo-usuario>
          <nueva-cuenta  name="nueva-cuenta"  on-myevent="processBack" token={{token}} usuario={{userId}}></nueva-cuenta>
          <visor-cuentas name="visor-cuentas" on-myevent="processAccounts" accounts={{accounts}} token={{token}} usuario={{userId}}></visor-cuentas>
          <visor-movimientos name="visor-movimientos" on-myevent="processTransactions" transactions={{transactions}} token={{token}} usuario={{userId}} cuenta={{accountId}}></visor-movimientos>
          <nuevo-movimiento name="nuevo-movimiento" on-myevent="processBack" token={{token}} usuario={{userId}} cuenta={{accountId}}></nuevo-movimiento>
          <visor-usuario name="visor-usuario" on-myevent="processBack" token={{token}} usuario={{user}}></visor-usuario>
          <!--<visor-usuario name="visor-usuario" route="[[subroute]]"></visor-usuario>-->
        </iron-pages>

        <footer id="footer1">  </footer>

        <paper-dialog id="modal" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
          <h2 id="cabeceraModal"></h2>
          <div id="mensajeModal"></div>
          <div class="buttons">
            <paper-button dialog-confirm autofocus>Aceptar</paper-button>
          </div>
        </paper-dialog>

        <iron-ajax
          id="doGetWeather"
          url="http://api.openweathermap.org/data/2.5/weather?id=6359300&units=metric&APPID=2ef7a2f79b19a4488508e5300979031e"
          method="GET"
          on-response="showDataWeather"
          auto
          >
        </iron-ajax>

        <iron-ajax
          id="getUser"
          url="http://localhost:3000/v0/users/{{userId}}"
          method="GET"
          headers='{"access-control-allow-origin":"*"}'
          handle-as="json"
          on-response="showUser"
          on-error="showError">
        </iron-ajax>

        <iron-ajax
          id="getAccounts"
          url="http://localhost:3000/v0/users/{{userId}}/accounts"
          method="GET"
          headers='{"access-control-allow-origin":"*"}'
          handle-as="json"
          on-response="showAccounts"
          on-error="showError">
        </iron-ajax>

        <iron-ajax
          id="getTransactions"
          url="http://localhost:3000/v0/users/{{userId}}/accounts/{{accountId}}/transactions"
          method="GET"
          headers='{"access-control-allow-origin":"*"}'
          handle-as="json"
          on-response="showTransactions"
          on-error="showError">
        </iron-ajax>

        <iron-ajax
          id="doLogout"
          url=" http://localhost:3000/v0/sessions/{{userId}}"
          method="DELETE"
          headers='{"access-control-allow-origin":"*"}'
          on-response="processLogout"
          on-error="showError">
        </iron-ajax>

      </template>

  <script>
      /**
       * @customElement
       * @polymer
       */
      class FintechuApp extends Polymer.Element {
        static get is() { return 'fintechu-app'; }
        static get properties() {
          return {
            page: {
              type: String,
              reflectToAttribute: true,
              observer: '_pageChanged'
              },
            titlePage: {
                type: String,
            },
            token:{
                type: String,
              },
            userId:   {
                type:Number,
            },
            accountId: {
                type: Number,

            },
            accounts: {
              type: Array,
//              notify: true,
            },
            transactions: {
              type: Array,
//              notify: true,
            },
            user: {
              type: Object,
            }
          };
        }

        static get observers() { return [
          '_routePageChanged(routeData.page)'
        ]}

        _routePageChanged(page) {
          this.page = page || 'login-usuario';

          // Close the drawer - in case the *route* change came from a link in the drawer.
          this.drawerOpened = false;
        }

        //Se cierra la sesion
        cerrarSesion()
        {
          if(this.token!=null && this.userId)
          {
            this.$.doLogout.headers['token']=this.token;
            this.$.doLogout.generateRequest();
          }
        }

      //Vamos a la página de modificar usuario
      modificarUsuario()
      {
        if(this.token!=null && this.userId)
        {
          this.$.getUser.headers['token']=this.token;
          this.$.getUser.generateRequest();
        }
      }

        //Se recupera la información del tiempo para pintarla
        showDataWeather (data){
          var image="http://openweathermap.org/img/w/"+data.detail.response.weather[0].icon+".png";
          var texto=data.detail.response.main.temp+" °С  temperatura de "+data.detail.response.main.temp_min+" a "+data.detail.response.main.temp_max+" °С";
          texto=texto+" <img src='"+image+"' align='middle'></img>"
          this.$.footer1.innerHTML=texto;
        }

        //Procesa el logout
        processLogout(e)
        {
          this.token = null;
          this.userId = null;
          this.page="login-usuario"
          this.$.botonSalir.disabled=true;
          this.$.botonModificarUsuario.disabled=true;
        }

        //Procesa el evento del login y lo manda al objeto de visor de cuentas o a crear un nuevo usuario
        processLogin(e)
        {
          if (e.detail.type=="login"){
            this.token = e.detail.token;
            this.userId = e.detail.userId;

            this.$.getAccounts.headers['token']=this.token;
            this.$.getAccounts.generateRequest();
            this.$.botonSalir.disabled=false;
            this.$.botonModificarUsuario.disabled=false;
          }
          if (e.detail.type=="create"){
            this.page="nuevo-usuario"
          }
        }

        //Procesa el evento de selección de una cuenta, recupera los movimientos y lo mandar al visor de movimientos
        //También puedo ser un evento para genera un cuenta nueva
        processAccounts(e)
        {
          if (e.detail.type=="transactions"){
            this.accountId = e.detail.accountId;
            this.$.getTransactions.headers['token']=this.token;
            this.$.getTransactions.generateRequest();
          }
          if (e.detail.type=="create_account"){
            this.page="nueva-cuenta";
            //this.token=this.token;
          }
          if (e.detail.type=="deleted_account")
          {
            this.$.getAccounts.headers['token']=this.token;
            this.$.getAccounts.generateRequest();
          }
        }

        //También puedo ser un evento para genera un nuevo movimiento o el borrado de uno
        processTransactions(e)
        {
          if (e.detail.type=="create_transaction"){
            this.page="nuevo-movimiento";
            //this.token=this.token;
          }
          if (e.detail.type=="deleted_transaction")
          {
            this.$.getTransactions.headers['token']=this.token;
            this.$.getTransactions.generateRequest();
          }
          if (e.detail.type=="reload_accounts")
          {
            this.$.getAccounts.headers['token']=this.token;
            this.$.getAccounts.generateRequest();
          }
          if (e.detail.type=="initial")
          {
            this.page=e.detail.volver;
          }
        }

        //Vuelve a cargar las cuentas o los movimientos en funcion de donde sea el evento
        processBack(e)
        {
          if (e.detail.type=="created_account" || e.detail.type=="deleted_account")
          {
            this.$.getAccounts.headers['token']=this.token;
            this.$.getAccounts.generateRequest();
          }
          else {
            if (e.detail.type=="created_transaction" || e.detail.type=="deleted_transaction")
            {
              this.$.getTransactions.headers['token']=this.token;
              this.$.getTransactions.generateRequest();
            }
            else
            {
              this.page=e.detail.volver;
            }
          }

        }


        //Una vez recuperadas las cuentas se cargan y se muestra la página
        showAccounts (data){
          this.accounts=data.detail.response;
          this.page="visor-cuentas";

        }

        //Se carga la informacón del usuario para poder modificarlo
        showUser (data){
          this.user=data.detail.response;
          this.page="visor-usuario";

        }

        //Una vez recuperadas los movimientos se cargan y se muestra la página
        showTransactions (data){
          this.transactions=data.detail.response;
          //this.push('accounts',data.detail.response);
          this.page="visor-movimientos";
        }

        //Permite la carga de las páginas cuando se van a utilizar
        _pageChanged(page, oldPage) {
          if (page != null) {
            // home route is eagerly loaded
            if (page=="login-usuario"){this.titlePage="Acceso Aplicación";}
            if (page=="nueva-cuenta"){this.titlePage="Alta nueva cuenta";}
            if (page=="nuevo-movimiento"){this.titlePage="Alta nuevo movimiento";}
            if (page=="nuevo-usuario"){this.titlePage="Alta nuevo usuario";}
            if (page=="visor-cuentas"){this.titlePage="Listado de cuentas";}
            if (page=="visor-movimientos"){this.titlePage="Listado de movimientos de la cuenta";}
            if (page=="visor-usuario"){this.titlePage="Modificación usuario";}            

            if (page == 'login-usuario') {
              //this._pageLoaded(Boolean(oldPage));
            // other routes are lazy loaded
            } else {
              // When a load failed, it triggered a 404 which means we need to
              // eagerly load the 404 page definition
              //let cb = this._pageLoaded.bind(this, Boolean(oldPage));
              Polymer.importHref(
                this.resolveUrl(page + '.html'),
                null, null, true);
            }
          }
        }

        _pageLoaded(shouldResetLayout) {
          this._ensureLazyLoaded()
          if (shouldResetLayout) {
            // The size of the header depends on the page (e.g. on some pages the tabs
            // do not appear), so reset the header's layout only when switching pages.
            Polymer.Async.timeOut.run(() => {
              this.$.header.resetLayout();
            }, 1);
          }
        }

        showError(e,request) {
          this.$.cabeceraModal.innerHTML="Error";
          if (e.detail.request.xhr.response && e.detail.request.xhr.response.msg)
          {
            this.$.mensajeModal.innerHTML=e.detail.request.xhr.response.msg;
          }
          else {
            this.$.mensajeModal.innerHTML="Servicio no disponibles, por favor intentelo pasaso unos minutos";
          }
          this.$.modal.open();
        }

   }
      customElements.define(FintechuApp.is, FintechuApp);
    </script>
  </dom-module>
