
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">


<dom-module id="login-usuario">
 <template>
   <style>
     :host {
       display: block;
     }

     .container{
       @apply(--layout-horizontal);
       @apply(--layout-center-justified);
     }
     paper-input{
       max-width: 400px;
       margin: auto;
     }

     iron-icon, div[suffix]{
       color:hsl(0,0%,50%);
       margin-right:12px;
     }
   </style>

    <paper-input label="Email" type="email" value="{{email::input}}" required auto-validate error-message="Campo obligatorio">
     <iron-icon icon="mail" slot="prefix"></iron-icon>
   </paper-input>
   <paper-input label="password" type="password" value="{{password::input}}" required auto-validate error-message="Campo obligatorio">
      <iron-icon icon="lock-outline" slot="prefix"></iron-icon>
   </paper-input>
    </br>
   <div class="container">
        <paper-button raised on-click="login"> Login </paper-button>
        <paper-button raised on-click="crearUsuario"> Crear Usuario </paper-button>
    </div>

    <paper-dialog id="modal" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
      <h2 id="cabeceraModal"></h2>
      <div id="mensajeModal"></div>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>Aceptar</paper-button>
      </div>
    </paper-dialog>

   <iron-ajax
     id="doLogin"
     url="http://localhost:3000/v0/sessions"
     method="POST"
     handle-as="json"
     content-type=application/json
     on-response="manageAJAXResponse"
     on-error="showError"
     >
   </iron-ajax>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class LoginUsuario extends Polymer.Element {
     static get is() { return 'login-usuario'; }
     static get properties() {
       return {
         userId: {
           type: String
         },
         token: {
           type: String
         },
         state: {
           type: String,
           value: "initial"
         },
       };
     }

   manageAJAXResponse (e, request){
     //Se lanza el evento con los datos
     this.dispatchEvent(
       new CustomEvent(
         "myevent",
         {
           "detail" : {
             "type": "login",
             "token" : request.xhr.getResponseHeader("token"),
             "userId" : request.xhr.response["user.id"]
           }
         }
       )
     )
    }

    crearUsuario (e, request){
      //Se lanza el evento con los datos
      this.dispatchEvent(
        new CustomEvent(
          "myevent",
          {
            "detail" : {
              "type": "create",
            }
          }
        )
      )
     }

    //Se hace la petición de login
    login() {
      var loginData = {
        "email": this.email,
        "password": this.password,
      }
      this.$.doLogin.body = JSON.stringify(loginData);
      this.$.doLogin.generateRequest();
    }

    showError(e,request) {
      this.state="error";
      this.$.cabeceraModal.innerHTML="Error";
      if (e.detail.request.xhr.response && e.detail.request.xhr.response.msg)
      {
        this.$.mensajeModal.innerHTML=e.detail.request.xhr.response.msg;
      }
      else {
        this.$.mensajeModal.innerHTML="Servicio no disponible, por favor intentelo pasados unos minutos";
      }
      this.$.modal.open();
    }
}
   window.customElements.define(LoginUsuario.is, LoginUsuario);
 </script>
</dom-module>
