<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">


<dom-module id="nuevo-movimiento">
 <template>
   <style>
     :host {
       display: block;
     }

    .container{
      @apply(--layout-horizontal);
      @apply(--layout-center-justified);
    }
    paper-input{
      max-width: 400px;
      margin: auto;
    }
    iron-icon, div[suffix]{
      color:hsl(0,0%,50%);
      margin-right:12px;
    }

    paper-item{
      max-width: 400px;
      margin: auto;
    }

   paper-dropdown-menu {
     width: 400px;
         margin: auto;
   }

  dropdown-content {
  width: 400px;
  margin: auto;
}

   </style>

     <paper-input label="Fecha Operación" type="text" value="{{operationDate::input}}" required auto-validate error-message="Campo obligatorio con formato dd/mm/yyyy"
     pattern="^(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d$"></paper-input>
     <paper-input label="Importe" type="number" value="{{originAmount::input}}" required auto-validate  error-message="Importe oblitatorio. Como máximo dos decimales."
     pattern="^(\d{1}\.)?(\d+\.?)+(,\d{2})?$">
       <iron-icon icon="euro-symbol" slot="suffix"></iron-icon>
     </paper-input>
     <div class="container">
      <paper-dropdown-menu label="Tipo">
        <paper-listbox attr-for-selected="item-name" selected="{{operationType}}" required auto-validate error-message="Campo obligatorio" slot="dropdown-content" class="dropdown-content">
             <paper-item item-name="CARGO">Cargo</paper-item>
             <paper-item item-name="ABONO">Abono</paper-item>
         </paper-listbox>
      </paper-dropdown-menu>
    </div>
     <paper-input label="Categoría" type="text" value="{{categoryName::input}}" required auto-validate error-message="Campo obligatorio"></paper-input>
     <paper-input label="Observaciones" type="text" value="{{comments::input}}" required auto-validate error-message="Campo obligatorio"></paper-input>
    </br>
   <div class="container">
     <paper-button raised on-click="createTransaction">Crear Movimiento</paper-button>
     <paper-button raised on-click="volverCuentas">Volver</paper-button>
   </div>
      </br>

  <paper-dialog id="modal" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
    <h2 id="cabeceraModal"></h2>
    <div id="mensajeModal"></div>
    <div class="buttons">
      <paper-button dialog-confirm autofocus on-click="volverCuentas">Aceptar</paper-button>
    </div>
  </paper-dialog>


   <iron-ajax
     id="doPostTransaction"
     url="http://localhost:3000/v0/users/{{usuario}}/accounts/{{cuenta}}/transactions"
     method="POST"
     headers='{"access-control-allow-origin":"*"}'
     handle-as="json"
     content-type=application/json
     on-response="showData"
     on-error="showError"
     >
   </iron-ajax>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class NuevoMovimiento extends Polymer.Element {
     static get is() { return 'nuevo-movimiento'; }
     static get properties() {
       return {
           state: {
             type: String,
             value: "initial"
           },
           token: {
               type:String,
            },
            usuario: {
               type: String,
            },
            cuenta: {
               type: String,
            },
            operationDate: {
              type:String,
              value:"01/01/2018",
            }
          };
        }
   //Se hace la petición de login
   createTransaction() {
     var newTransaction = {
        operationDate:{
          type:String,
        },
        operationType: {
          type: String,
        },
        originAmount:
        {
          amount: {
            type: Number,
          },
          currency: {
            type:String,
          },
        },
        category:
        {
          name: {
            type: String,
          },
          id: {
            type:String,
          },
        },
        comments:
        {
          type: String,
        },
      }

     newTransaction.operationDate= this.operationDate;
     newTransaction.originAmount.amount= this.originAmount;
     newTransaction.originAmount.currency= "EUR";
     newTransaction.operationType= this.operationType;
     newTransaction.category.name= this.categoryName;
     newTransaction.category.id= this.categoryName;
     newTransaction.comments= this.comments;

     this.$.doPostTransaction.body = JSON.stringify(newTransaction);
     this.$.doPostTransaction.headers['token']=this.token;
     this.$.doPostTransaction.generateRequest();
   }

   showData (data){
     this.$.cabeceraModal.innerHTML="Aviso";
     this.$.mensajeModal.innerHTML="El movimiento se ha creado correctamente.";
     this.$.modal.open();
     this.state="created_transaction";
   }

   volverCuentas()
   {
     if (this.state=="created_transaction" || this.state=="initial")
     {
       this.operationDate=null;
       this.originAmount=null;
       this.operationType=null;
       this.categoryName=null;
       this.comments=null;

       this.dispatchEvent(
         new CustomEvent(
           "myevent",
           {
             "detail" : {
               "volver": "visor-movimientos",
               "type": this.state,
             }
           }
         )
       )
     }
     this.state="initial";
   }

   showError(e,request) {
     this.state="error";
     this.$.cabeceraModal.innerHTML="Error";
     if (e.detail.request.xhr.response && e.detail.request.xhr.response.msg)
     {
       this.$.mensajeModal.innerHTML=e.detail.request.xhr.response.msg;
     }
     else {
       this.$.mensajeModal.innerHTML="Servicio no disponible, por favor intentelo pasados unos minutos";
     }
     this.$.modal.open();
   }


}
   window.customElements.define(NuevoMovimiento.is, NuevoMovimiento);
 </script>
</dom-module>
