<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">


<dom-module id="nueva-cuenta">
 <template>
   <style>
     :host {
       display: block;
     }

    .container{
      @apply(--layout-horizontal);
      @apply(--layout-center-justified);
    }
    paper-input{
      max-width: 400px;
      margin: auto;
    }
    iron-icon, div[suffix]{
      color:hsl(0,0%,50%);
      margin-right:12px;
    }

    paper-item{
      max-width: 400px;
      margin: auto;
    }

   paper-dropdown-menu {
     width: 400px;
         margin: auto;
   }

  dropdown-content {
  width: 400px;
  margin: auto;
}


   </style>

     <paper-input label="Número Cuenta" type="string" value="{{accountNumber::input}}" required auto-validate error-message="Campo obligatorio. Debe ser un IBAN Español válido."
     pattern="ES\d{2}[ ]\d{4}[ ]\d{4}[ ]\d{4}[ ]\d{4}[ ]\d{4}|ES\d{22}"> IBAN
       <iron-icon icon="account-balance" slot="prefix"></iron-icon>
     </paper-input>
     <paper-input label="Saldo" type="text" value="{{balance::input}}" required auto-validate error-message="Importe oblitatorio. Como máximo dos decimales."
     pattern="^(\d{1}\.)?(\d+\.?)+(,\d{2})?$">
       <iron-icon icon="euro-symbol" slot="suffix"></iron-icon>
     </paper-input>
     <paper-input label="Alias" type="text" value="{{alias::input}}" required auto-validate error-message="Campo obligatorio"></paper-input>
    </br>
   <div class="container">
     <paper-button raised on-click="createAccount">Crear Cuenta</paper-button>
     <paper-button raised on-click="volverCuentas">Volver</paper-button>
   </div>
      </br>

  <paper-dialog id="modal" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
    <h2 id="cabeceraModal"></h2>
    <div id="mensajeModal"></div>
    <div class="buttons">
      <paper-button dialog-confirm autofocus on-click="volverCuentas">Aceptar</paper-button>
    </div>
  </paper-dialog>


   <iron-ajax
     id="doPostAccount"
     url="http://localhost:3000/v0/users/{{usuario}}/accounts"
     method="POST"
     headers='{"access-control-allow-origin":"*"}'
     handle-as="json"
     content-type=application/json
     on-response="showData"
     on-error="showError"
     >
   </iron-ajax>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class NuevaCuenta extends Polymer.Element {
     static get is() { return 'nueva-cuenta'; }
     static get properties() {
       return {
           state: {
             type: String,
             value: "initial"
           },
           token: {
               type:String,
            },
            usuario: {
               type: String,
            },
          };
        }
   //Se hace la petición de login
   createAccount() {
     var newAccount = {
        number:{
          type:String,
        },
        numberType: {
          type: String,
        },
        alias: {
          type:String,
        },
        balance:
        {
          amount: {
            type: Number,
          },
          currency: {
            type:String,
          },
        },
        currency:
        {
          type: String,
        },
      }

     newAccount.number= this.accountNumber;
     newAccount.numberType= "IBAN";
     newAccount.alias= this.alias;
     newAccount.balance.amount= this.balance;
     newAccount.balance.currency= "EUR";
     newAccount.currency="EUR"

     this.$.doPostAccount.body = JSON.stringify(newAccount);
     this.$.doPostAccount.headers['token']=this.token;
     this.$.doPostAccount.generateRequest();
   }

   showData (data){
     this.$.cabeceraModal.innerHTML="Aviso";
     this.$.mensajeModal.innerHTML="La cuenta se ha creado correctamente. Ya puede gestionar sus movimientos";
     this.$.modal.open();
     this.state="created_account";
   }

   volverCuentas()
   {
     if (this.state=="created_account" || this.state=="initial")
     {
       this.accountNumber=null;
       this.alias=null;
       this.balance=null;

       this.dispatchEvent(
         new CustomEvent(
           "myevent",
           {
             "detail" : {
               "volver": "visor-cuentas",
               "type": this.state,
             }
           }
         )
       )
     }
     this.state="initial";
   }

   showError(e,request) {
     this.state="error";
     this.$.cabeceraModal.innerHTML="Error";
     if (e.detail.request.xhr.response && e.detail.request.xhr.response.msg)
     {
       this.$.mensajeModal.innerHTML=e.detail.request.xhr.response.msg;
     }
     else {
       this.$.mensajeModal.innerHTML="Servicio no disponible, por favor intentelo pasados unos minutos";
     }
     this.$.modal.open();
   }


}
   window.customElements.define(NuevaCuenta.is, NuevaCuenta);
 </script>
</dom-module>
