<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">


<dom-module id="nuevo-usuario">
 <template>
   <style>
     :host {
       display: block;
     }

    .container{
      @apply(--layout-horizontal);
      @apply(--layout-center-justified);
    }
    paper-input{
      max-width: 400px;
      margin: auto;
    }
    iron-icon, div[suffix]{
      color:hsl(0,0%,50%);
      margin-right:12px;
    }

    paper-item{
      max-width: 400px;
      margin: auto;
    }

   paper-dropdown-menu {
     width: 400px;
         margin: auto;
   }

  dropdown-content {
  width: 400px;
  margin: auto;
}

   </style>
     <paper-input label="Email" type="email" value="{{email::input}}" required auto-validate error-message="Campo obligatorio. Debe ser un email válido"
     pattern="^[a-zA-Z0-9.!#$%'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
        <iron-icon icon="mail" slot="prefix"></iron-icon>
     </paper-input>
     <paper-input label="Contraseña" type="password" value="{{password::input}}" required auto-validate error-message="Campo obligatorio">
       <iron-icon icon="lock-outline" slot="prefix"></iron-icon>
     </paper-input>
     <paper-input label="Nombre" type="text" value="{{firstName::input}}" required auto-validate error-message="Campo obligatorio"></paper-input>
     <paper-input label="Primer Apellido" type="text" value="{{lastName::input}}" required auto-validate error-message="Campo obligatorio"></paper-input>
     <paper-input label="Segundo Apellido" type="text" value="{{middleName::input}}"></paper-input>
     <paper-input label="Fecha nacimiento" type="text" value="{{birthData::input}}" auto-validate error-message="Campo obligatorio con formato dd/mm/yyyy"
     pattern="^(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d$"></paper-input>
     <div class="container">
      <paper-dropdown-menu label="Tipo documento">
        <paper-listbox attr-for-selected="item-name" selected="{{documentTypeId}}" required auto-validate error-message="Campo obligatorio" slot="dropdown-content" class="dropdown-content">
             <paper-item item-name="DNI">DNI</paper-item>
             <paper-item item-name="PASSPORT">Pasaporte</paper-item>
             <paper-item item-name="CARD_RESIDENCE">Tarjeta Residencia</paper-item>
         </paper-listbox>
      </paper-dropdown-menu>
      </div>
     <paper-input label="Documento de identidad" type="text" value="{{documentNumber::input}}" required auto-validate error-message="Campo obligatorio"></paper-input>
    <div class="container">
     <paper-dropdown-menu label="Genero">
       <paper-listbox attr-for-selected="item-name" selected="{{genderId}}" required auto-validate error-message="Campo obligatorio" slot="dropdown-content" class="dropdown-content">
            <paper-item item-name="FEMALE">Femenino</paper-item>
            <paper-item item-name="MALE">Masculino</paper-item>
        </paper-listbox>
     </paper-dropdown-menu>
   </div>
    <div class="container">
     <paper-dropdown-menu label="Estado civil">
       <paper-listbox attr-for-selected="item-name" selected="{{maritalStatusId}}" required slot="dropdown-content" class="dropdown-content">
            <paper-item item-name="SINGLE">Soltero</paper-item>
            <paper-item item-name="MARRIED">Casado</paper-item>
            <paper-item item-name="WIDOW">Viudo</paper-item>
            <paper-item item-name="DIVORCED">Divorciado</paper-item>
        </paper-listbox>
     </paper-dropdown-menu>
   </div>
    <div class="container">
     <paper-dropdown-menu label="Nacionalidad">
       <paper-listbox attr-for-selected="item-name" selected="{{nationalityId}}" required slot="dropdown-content" class="dropdown-content">
            <paper-item item-name="ES">Español</paper-item>
            <paper-item item-name="UK">Ingles</paper-item>
            <paper-item item-name="US">Americano</paper-item>
        </paper-listbox>
     </paper-dropdown-menu>
   </div>
    </br>
   <div class="container">
     <paper-button raised on-click="createUser">Crear Usuario</paper-button>
     <paper-button raised on-click="volverLogin">Volver</paper-button>
   </div>
      </br>

  <paper-dialog id="modal" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
    <h2 id="cabeceraModal"></h2>
    <div id="mensajeModal"></div>
    <div class="buttons">
      <paper-button dialog-confirm autofocus on-click="volverLogin">Aceptar</paper-button>
    </div>
  </paper-dialog>


   <iron-ajax
     id="doPostUser"
     url="http://localhost:3000/v0/users/"
     method="POST"
     handle-as="json"
     content-type=application/json
     on-response="showData"
     on-error="showError"
     >
   </iron-ajax>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class NuevoUsuario extends Polymer.Element {
     static get is() { return 'nuevo-usuario'; }
     static get properties() {
       return {
            state: {
              type: String,
              value: "initial"
            }
          };
        }
   //Se hace la petición de login
   createUser() {
     var newUser = {
        firstName:{
          type:String,
        },
        lastName: {
          type: String,
        },
        middleName: {
          type:String,
        },
        birthData: {
          type: Date,
        },
        identityDocument:
        {
          documentType: {
            id: {
              type: String,
            },
            name: {
              type:String,
            },
          },
          documentNumber: {
            type:String,
          },
        },
        gender:
        {
          id: {
            type: String,
          },
          name: {
            type: String,
          },
        },
        maritalStatus:
        {
          id: {
            type:String,
          },
          name: {
            type:String,
          },
        },
        nationality:
        {
          id: {
            type:String,
          },
          name: {
            type:String,
          },
        },
        email:
        {
          type: String,
        },
        password : {
          type: String,
        },
        id: {
          type: Number,
        },
      }

     newUser.firstName= this.firstName;
     newUser.lastName= this.lastName;
     newUser.middleName= this.middleName;
     newUser.birthData= this.birthData;
     newUser.identityDocument.documentType.id= this.documentTypeId;
     newUser.identityDocument.documentType.name= this.documentTypeId;
     console.log(newUser.identityDocument.documentType.name);
     newUser.identityDocument.documentNumber= this.documentNumber;
     newUser.gender.id= this.genderId;
     newUser.maritalStatus.id= this.maritalStatusId;
     newUser.nationality.id= this.nationalityId;
     newUser.email= this.email;
     newUser.password= this.password;
     this.$.doPostUser.body = JSON.stringify(newUser);
     this.$.doPostUser.generateRequest();
   }

   showData (data){
     this.$.cabeceraModal.innerHTML="Aviso";
     this.$.mensajeModal.innerHTML="El usuario se ha creado correctamente. Ya puede logarse en la aplicación";
     this.$.modal.open();
     this.state="created_user";
   }

   volverLogin()
   {
     if (this.state=="created_user" || this.state=="initial")
     {
       this.firstName=null;
       this.lastName=null;
       this.middleName=null;
       this.birthData=null;
       this.documentTypeId=null;
       this.documentNumber=null;
       this.genderId=null;
       this.maritalStatusId=null;
       this.nationalityId=null;
       this.email=null;
       this.password=null;

       this.dispatchEvent(
         new CustomEvent(
           "myevent",
           {
             "detail" : {
               "volver": "login-usuario",
             }
           }
         )
       )
     }
     this.state="initial";
   }

   showError(e,request) {
     this.state="error";
     this.$.cabeceraModal.innerHTML="Error";
     if (e.detail.request.xhr.response && e.detail.request.xhr.response.msg)
     {
       this.$.mensajeModal.innerHTML=e.detail.request.xhr.response.msg;
     }
     else {
       this.$.mensajeModal.innerHTML="Servicio no disponibles, por favor intentelo pasaso unos minutos";
     }
     this.$.modal.open();
   }


}
   window.customElements.define(NuevoUsuario.is, NuevoUsuario);
 </script>
</dom-module>
