<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">


<dom-module id="visor-movimientos">
 <template>
   <style>
   :host {
     display: block;
   }

   .container{
     @apply(--layout-horizontal);
     @apply(--layout-center-justified);
   }

   body {
     @apply --paper-font-common-base;
     font-size: 14px;
     margin: 0;
     padding: 24px;
     background-color: var(--paper-grey-50);
   }

   .toolbar {
     height: 60px;
     padding: 16px;
     background: #dddddd;
     color: var(--text-primary-color);
     @apply --paper-font-display1;
   }

   .item .primary {
     color: var(--primary-text-color);
     @apply --paper-font-body1;
   }

   .item .secondary {
     color: var(--secondary-text-color);
     @apply --paper-font-body1;
   }

   table {
       border-collapse: collapse;
       width: 80%;
       @apply --paper-font-body1;
   }

   td {
       text-align: left;
       padding: 8px;
       color: var(--secondary-text-color);
       @apply --paper-font-body1;
   }
   th {
       text-align: left;
       border-bottom: 1px solid #ccc;
       padding: 8px;
       color: var(--primary-text-color);
       @apply --paper-font-body1;
   }

   tr {
     border-bottom: 1px solid #ccc;
   }

   </style>

   <div class="container">
    <table>
     <tr>
       <th>Fecha operacion</th>
       <th>Importe</th>
       <th>Tipo</th>
       <th>Categoria</th>
       <th>Observaciones</th>
       <th></th>
     </tr>
     <template is="dom-repeat" items="[[transactions]]">
      <tr>
        <td><span>[[item.operationDate]]</span></td>
        <td><span>[[item.originAmount.amount]] [[item.originAmount.currency]]</span></td>
        <td><span>[[item.operationType]]</span></div>
        <td><span>[[item.category.name]]</span></td>
        <td><span>[[item.comments]]</span></td>
        <td>
          <paper-icon-button icon="delete" title="Borrar Movimiento" on-click="confirmarBorrar"> </paper-icon-button>
        </td>
      </tr>
      </template>
    </table>
  </div>
  </br></br>
  <div class="container">
    <paper-button raised on-click="crearTransaction"> Crear Movimiento </paper-button>
    <paper-button raised on-click="volverCuentas"> Volver </paper-button>
  </div>

<paper-dialog id="modal" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
  <h2 id="cabeceraModal"></h2>
  <div id="mensajeModal"></div>
  <div class="buttons">
    <paper-button dialog-confirm autofocus on-click="recargarMovimientos">Aceptar</paper-button>
  </div>
</paper-dialog>

<paper-dialog id="modalConfirmation" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
  <h2>Aviso</h2>
  <div>¿Está seguro que quiere borrar el movimiento?.</div>
  <div class="buttons">
    <paper-button dialog-confirm autofocus on-click="borrar">Aceptar</paper-button>
    <paper-button dialog-confirm autofocus>Cancelar</paper-button>
  </div>
</paper-dialog>

<iron-ajax
  id="doDeleteTransaction"
  url="http://localhost:3000/v0/users/{{usuario}}/accounts/{{cuenta}}/transactions/"
  method="DELETE"
  headers='{"access-control-allow-origin":"*"}'
  on-response="showData"
  on-error="showError"
  >
</iron-ajax>
</template>


 <script>
   /**
    * @customElement
    * @polymer
    */
   class VisorMovimientos extends Polymer.Element {
     static get is() { return 'visor-movimientos'; }
     static get properties() {
       return {
         transactions: {
           type: Array,
         },
         token: {
           type: String,
         },
         cuenta: {
           type: String,
         },
         usuario:{
           type: String
         },
         state: {
           type: String,
           value: "reload_accounts"
         },
         transactionIdSelected: {
           type: Number,
         },
       };
     }

   recargarMovimientos()
   {

     if (this.state=="deleted_transaction" || this.state=="reload_accounts")
     {
       this.dispatchEvent(
         new CustomEvent(
           "myevent",
           {
             "detail" : {
               "volver": "visor-movimientos",
               "type": this.state,
             }
           }
         )
       )
     }
   }

   //Volver a la venta de cuentas
   volverCuentas()
   {
     this.state="reload_accounts";
     this.dispatchEvent(
       new CustomEvent(
         "myevent",
         {
           "detail" : {
             "volver": "visor-cuentas",
             "type": this.state,
           }
         }
       )
     )
   }

   showData (data){
     this.$.cabeceraModal.innerHTML="Aviso";
     this.$.mensajeModal.innerHTML="El movimiento se ha borrado correctamente.";
     this.$.modal.open();
     this.state="deleted_transaction";
   }


   showError(e,request) {
     this.state="error";
     this.$.cabeceraModal.innerHTML="Error";
     if (e.detail.request.xhr.response && e.detail.request.xhr.response.msg)
     {
       this.$.mensajeModal.innerHTML=e.detail.request.xhr.response.msg;
     }
     else {
       this.$.mensajeModal.innerHTML="Servicio no disponible, por favor intentelo pasados unos minutos";
     }
     this.$.modal.open();
   }

   //Se borra la cuenta seleccionada
   borrar(e) {
     var url=this.$.doDeleteTransaction.url;
     this.$.doDeleteTransaction.url=this.$.doDeleteTransaction.url+this.accountIdSelected;
     this.$.doDeleteTransaction.headers['token']=this.token;
     this.$.doDeleteTransaction.generateRequest();
     this.$.doDeleteTransaction.url=url;
   }

   confirmarBorrar(e) {
     this.numberSelected=e.model.item.number;
     this.accountIdSelected=e.model.item.id;
     this.$.modalConfirmation.open()
   }

   crearTransaction (e, request){
     //Se lanza el evento con los datos
     this.dispatchEvent(
       new CustomEvent(
         "myevent",
         {
           "detail" : {
             "type": "create_transaction",
           }
         }
       )
     )
    }

}


   window.customElements.define(VisorMovimientos.is, VisorMovimientos);
 </script>
</dom-module>
