<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">


<dom-module id="visor-cuentas">
 <template>
   <style>
     :host {
       display: block;
     }

     .container{
       @apply(--layout-horizontal);
       @apply(--layout-center-justified);
     }

     body {
       @apply --paper-font-common-base;
       font-size: 14px;
       margin: 0;
       padding: 24px;
       background-color: var(--paper-grey-50);
     }

     .toolbar {
       height: 60px;
       padding: 16px;
       background: #dddddd;
       color: var(--text-primary-color);
       @apply --paper-font-display1;
     }

     .item .primary {
       color: var(--primary-text-color);
       @apply --paper-font-body1;
     }

     .item .secondary {
       color: var(--secondary-text-color);
       @apply --paper-font-body1;
     }

     table {
         border-collapse: collapse;
         width: 80%;
         @apply --paper-font-body1;
     }

     td {
         text-align: left;
         padding: 8px;
         color: var(--secondary-text-color);
         @apply --paper-font-body1;
     }
     th {
         text-align: left;
         border-bottom: 1px solid #ccc;
         padding: 8px;
         color: var(--primary-text-color);
         @apply --paper-font-body1;
     }

     tr {
       border-bottom: 1px solid #ccc;
     }

   </style>

   <div class="container">
      <table>
       <tr>
         <th>Cuenta</th>
         <th>Saldo</th>
         <th>Alias</th>
         <th>Fecha Creación</th>
         <th></th>
       </tr>
       <template is="dom-repeat" items="[[accounts]]">
        <tr>
          <td><span>[[item.number]]</span></td>
          <td><span>[[item.balance.amount]] [[item.balance.currency]]</span></td>
          <td><span>[[item.alias]]</span></div>
          <td><span>[[item.creationDate]]</span></td>
          <td>
            <paper-icon-button icon="list" title="Movimientos" on-click="movimientos"> </paper-icon-button>
            <paper-icon-button icon="delete" title="Borrar Cuenta" on-click="confirmarBorrar"> </paper-icon-button>
          </td>
       </tr>
         </template>
      </table>
    </div>
    </br></br>
    <div class="container">
      <paper-button raised on-click="crearCuenta"> Crear Cuenta </paper-button>
    </div>

  <paper-dialog id="modal" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
    <h2 id="cabeceraModal"></h2>
    <div id="mensajeModal"></div>
    <div class="buttons">
      <paper-button dialog-confirm autofocus on-click="recargarCuentas">Aceptar</paper-button>
    </div>
  </paper-dialog>

  <paper-dialog id="modalConfirmation" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
    <h2>Aviso</h2>
    <div>¿Está seguro que quiere borrar la cuenta? [[numberSelected]]. </br>Se borraran todos los movimientos asociados</div>
    <div class="buttons">
      <paper-button dialog-confirm autofocus on-click="borrar">Aceptar</paper-button>
      <paper-button dialog-confirm autofocus>Cancelar</paper-button>
    </div>
  </paper-dialog>

  <iron-ajax
    id="doDeleteAccount"
    url="http://localhost:3000/v0/users/{{usuario}}/accounts/{{accountIdSelected}}"
    method="DELETE"
    headers='{"access-control-allow-origin":"*"}'
    on-response="showData"
    on-error="showError"
    >
  </iron-ajax>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class VisorCuentas extends Polymer.Element {
     static get is() { return 'visor-cuentas'; }
     static get properties() {
       return {
         token: {
             type: String,
           },
         usuario: {
             type:String,
           },

          id : {
             type:Number,
           },
          currency: {
             type: String,
           },
          number:{
             type:String,
           },
          numberType:{
              type:String,
            },
          alias: {
             type:String,
           },
          creationDate: {
             type: Date,
           },
          balance: {
             amount: {
                 type: Number,
               },
             currency: {
               type: String,
             },
           },
         accounts: {
           type: Array,
        //   value: function()
          // {
            // return [{number: "1234", amount:1230, currency:"EUR", alias:"Mi cuenta", creationDate:"10/10/2017"}];
           //}
         },
         numberSelected: {
           type: String,
         },
         accountIdSelected: {
           type: Number,
         },

       };
     }

     //Genera el evento para cargar la ventana de movimientos
     movimientos(e) {
       this.dispatchEvent(
         new CustomEvent(
           "myevent",
           {
             "detail" : {
               "type": "transactions",
               "accountId": e.model.item.id,
               "number": e.model.item.number
             }
           }
         )
       )
     }

     recargarCuentas()
     {
       if (this.state=="deleted_account")
       {
         this.dispatchEvent(
           new CustomEvent(
             "myevent",
             {
               "detail" : {
                 "volver": "visor-cuentas",
                 "type": this.state,
               }
             }
           )
         )
       }
       this.state="initial";
     }

     showData (data){
       this.$.cabeceraModal.innerHTML="Aviso";
       this.$.mensajeModal.innerHTML="La cuenta se ha borrado correctamente.";
       this.$.modal.open();
       this.state="deleted_account";
     }


     showError(e,request) {
       this.state="error";
       this.$.cabeceraModal.innerHTML="Error";
       if (e.detail.request.xhr.response && e.detail.request.xhr.response.msg)
       {
         this.$.mensajeModal.innerHTML=e.detail.request.xhr.response.msg;
       }
       else {
         this.$.mensajeModal.innerHTML="Servicio no disponible, por favor intentelo pasados unos minutos";
       }
       this.$.modal.open();
     }

     //Se borra la cuenta seleccionada
     borrar(e) {
       this.$.doDeleteAccount.headers['token']=this.token;
       this.$.doDeleteAccount.generateRequest();
     }

     confirmarBorrar(e) {
       this.numberSelected=e.model.item.number;
       this.accountIdSelected=e.model.item.id;
       this.$.modalConfirmation.open()
     }

     crearCuenta (e, request){
       //Se lanza el evento con los datos
       this.dispatchEvent(
         new CustomEvent(
           "myevent",
           {
             "detail" : {
               "type": "create_account",
             }
           }
         )
       )
      }

}
   window.customElements.define(VisorCuentas.is, VisorCuentas);
 </script>
</dom-module>
