<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">


<dom-module id="visor-usuario">
 <template>
   <style>
     :host {
       display: block;
     }

    .container{
      @apply(--layout-horizontal);
      @apply(--layout-center-justified);
    }
    paper-input{
      max-width: 400px;
      margin: auto;
    }
    iron-icon, div[suffix]{
      color:hsl(0,0%,50%);
      margin-right:12px;
    }

    paper-item{
      max-width: 400px;
      margin: auto;
    }

   paper-dropdown-menu {
     width: 400px;
         margin: auto;
   }

  dropdown-content {
  width: 400px;
  margin: auto;
}

   </style>
     <paper-input label="Nombre" type="text" value="{{usuario.firstName::input}}" required auto-validate error-message="Campo obligatorio"></paper-input>
     <paper-input label="Primer Apellido" type="text" value="{{usuario.lastName::input}}" required auto-validate error-message="Campo obligatorio"></paper-input>
     <paper-input label="Segundo Apellido" type="text" value="{{usuario.middleName::input}}"></paper-input>
     <paper-input label="Fecha nacimiento" type="text" value="{{usuario.birthData::input}}" auto-validate error-message="Campo obligatorio con formato dd/mm/yyyy"
     pattern="^(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d$"></paper-input>
    <div class="container">
     <paper-dropdown-menu label="Genero">
       <paper-listbox attr-for-selected="item-name" selected="{{usuario.gender.id}}" required auto-validate error-message="Campo obligatorio" slot="dropdown-content" class="dropdown-content">
            <paper-item item-name="FEMALE">Femenino</paper-item>
            <paper-item item-name="MALE">Masculino</paper-item>
        </paper-listbox>
     </paper-dropdown-menu>
   </div>
    <div class="container">
     <paper-dropdown-menu label="Estado civil">
       <paper-listbox attr-for-selected="item-name" selected="{{usuario.maritalStatus.id}}" required slot="dropdown-content" class="dropdown-content">
            <paper-item item-name="SINGLE">Soltero</paper-item>
            <paper-item item-name="MARRIED">Casado</paper-item>
            <paper-item item-name="WIDOW">Viudo</paper-item>
            <paper-item item-name="DIVORCED">Divorciado</paper-item>
        </paper-listbox>
     </paper-dropdown-menu>
   </div>
    <div class="container">
     <paper-dropdown-menu label="Nacionalidad">
       <paper-listbox attr-for-selected="item-name" selected="{{usuario.nationality.id}}" required slot="dropdown-content" class="dropdown-content">
            <paper-item item-name="ES">Español</paper-item>
            <paper-item item-name="UK">Ingles</paper-item>
            <paper-item item-name="US">Americano</paper-item>
        </paper-listbox>
     </paper-dropdown-menu>
   </div>
    </br>
   <div class="container">
     <paper-button raised on-click="modifyUser">Modificar Usuario</paper-button>
     <paper-button raised on-click="volverLogin">Volver</paper-button>
   </div>
      </br>

  <paper-dialog id="modal" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
    <h2 id="cabeceraModal"></h2>
    <div id="mensajeModal"></div>
    <div class="buttons">
      <paper-button dialog-confirm autofocus on-click="volverLogin">Aceptar</paper-button>
    </div>
  </paper-dialog>


   <iron-ajax
     id="doPutUser"
     url="http://localhost:3000/v0/users/{{usuario.id}}"
     method="PUT"
     headers='{"access-control-allow-origin":"*"}'
     handle-as="json"
     content-type=application/json
     on-response="showData"
     on-error="showError"
     >
   </iron-ajax>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class VisorUsuario extends Polymer.Element {
     static get is() { return 'visor-usuario'; }
     static get properties() {
       return {
            state: {
              type: String,
              value: "initial"
            },
            usuario:{
              type: Object,
            },
            token: {
                type: String,
              },
          };
        }
   //Se hace la petición de login
   modifyUser() {
     //Elimino los datos que no se quieren cambiar
     this.usuario.identityDocument=null;
     this.usuario.email=null;
     this.usuario.gender.name=this.usuario.gender.id;
     this.usuario.maritalStatus.name=this.usuario.maritalStatus.id;
     this.usuario.nationality.name=this.usuario.nationality.id;
     this.$.doPutUser.body = JSON.stringify(this.usuario);
     this.$.doPutUser.headers['token']=this.token;
     this.$.doPutUser.generateRequest();
   }

   showData (data){
     this.$.cabeceraModal.innerHTML="Aviso";
     this.$.mensajeModal.innerHTML="El usuario se ha modificado correctamente.";
     this.$.modal.open();
     this.state="modified_user";
   }

   volverLogin()
   {
     if (this.state=="modified_user" || this.state=="initial")
     {
       this.dispatchEvent(
         new CustomEvent(
           "myevent",
           {
             "detail" : {
               "volver": "visor-cuentas",
             }
           }
         )
       )
     }
     this.state="initial";
   }

   showError(e,request) {
     this.state="error";
     this.$.cabeceraModal.innerHTML="Error";
     if (e.detail.request.xhr.response && e.detail.request.xhr.response.msg)
     {
       this.$.mensajeModal.innerHTML=e.detail.request.xhr.response.msg;
     }
     else {
       this.$.mensajeModal.innerHTML="Servicio no disponibles, por favor intentelo pasaso unos minutos";
     }
     this.$.modal.open();
   }


}
   window.customElements.define(VisorUsuario.is, VisorUsuario);
 </script>
</dom-module>
